.warning{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: rgb(226, 154, 154);
    border-radius: 10px;
    border: 1px solid black; 
}