.createAccountForm{
    height: 600px;
    width: 350px;
    margin: auto;
    color: #2E2E2E;
}

.loginButton{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    float: left;
    margin-top: 1rem;
    margin-left: .75rem;
    cursor: pointer;
    color:#bebebe;
}

.createAccount{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    float:right;
    margin-top: 1rem;
    margin-right: .75rem;
    cursor: pointer;
}

.forgotPassword{
    margin-top: 2.15rem;
    color: #2e2e2e;
    font-size: 1.05rem;
    float: right;
    font-weight: 50;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    cursor: pointer;
}
