.loginForm{
    height: 330px;
    width: 350px;
    margin: auto;
    color: #2E2E2E;
}

.loginButton{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    float: left;
    margin-top: 1rem;
    margin-left: .75rem;
    cursor: pointer;
}

.createAccount{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    float:right;
    margin-top: 1rem;
    margin-right: .75rem;
    color:#bebebe;
}

.form {
    display: inline-block;
    padding: 1.5rem;
    padding-top: 3%;
  }

  .loginText, .loginPassword {
    width: 100%;
    padding-top: 3%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 3rem;
    border-radius: 6px;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border: 1px solid #c4c4c4;
    background-color: rgb(247, 246, 203);
}