.loginForm{
    height: 330px;
    width: 350px;
    margin: auto;
    color: #2E2E2E;
}

.loginButton{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    float: left;
    margin-top: 1rem;
    margin-left: .75rem;
    cursor: pointer;
}

.createAccount{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    float:right;
    margin-top: 1rem;
    margin-right: .75rem;
    color:#bebebe;
    cursor: pointer;
}