.desktop{
    box-sizing: border-box;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: #2E2E2E;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0 38px;
}

.desktop__shipping{
    display: inline-block;
    margin-right: 25%;
}

.desktop__about{
    display: inline-block;
    cursor: pointer;
}

.desktop__locations{
    display: inline-block;
    cursor: pointer;
}

.desktop__track{
    display: inline-block;
    cursor: pointer;
}

.desktop__login{
    display: inline-block;
    cursor: pointer;
}